// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//  #AEF0EE lightcyan
// #BDBCB4, #B6B5A3, #C7C6BB grey 
// #DEE1DC light grey
// #E3BAA9 flesh
// #FBE9DC light flesh


/****** WRAPPER *******/

#wrapper1 {
  float:left;
  width: 100%;
  min-height: 700px;
  background-image: url("/assets/light_gray_bricks.gif");
  background-attachment: fixed;
  //background: #004DF7;
  position:relative;
  right:50%;
}

#wrapper2 {
    float:left;
    width:100%;
    min-height: 700px;
    //background-image: url("/assets/light-aluminum.png");
    position:relative;
    right:30%;
}

#wrapper3 {
    float:left;
    width:100%;
    min-height: 700px;
    background-image: url("/assets/light_gray_bricks.gif");
    background-attachment: fixed;
    overflow:hidden;
    position:relative; 
}


/****** LEFT SIDEBAR *******/
#left-sidebar {
  float: left;
  width: 16%;
  min-height: 900px;
  padding: 2%;
  color: white;
  position:relative;
  overflow:hidden;
  left:82%;
  //background-color: rgba(255, 255, 255, 0.60);
  


  /* RGBa with 0.8 opacity */
  //background-color: rgba(255, 255, 255, 0.80);

}

h1 {
  display: inline;
}


/****** CONTAINER *******/

#container {
  float: left;
  width: 46%;
  padding: 3% 2%;
  position:relative;
  overflow:hidden;
  left:86%;
  // -moz-box-shadow:  0 0 10px 10px;
  //  -webkit-box-shadow:  0 0 10px 10px;
  //  box-shadow: 0 0 10px 10px;
}

#form {
  padding: 1%;
  margin-bottom: 1%;
  background-image: url("/assets/stripy.jpg");
  -moz-box-shadow:  0 2px 20px 5px #838B8B;
   -webkit-box-shadow:  0 2px 20px 5px #838B8B;
   box-shadow: 0 2px 20px 5px #838B8B;
  form {
    input {
      padding: 5px;
      border: none;
      border-radius: 3px;
    }

  }
}


/****** RIGHT SIDEBAR *******/

#right-sidebar {
  float: left;
  width: 26%;
  padding: 3% 2%;
  height: 100%;
  position:relative;
  overflow:hidden;
  left:90%;
  //height: 100%;
  //padding: 10px;
  //border-left: 2px dotted #B4CDCD;
  
}

#default-image {
  width: 80%;
  // -moz-box-shadow:  0 0 10px 10px;
  //  -webkit-box-shadow:  0 0 10px 10px;
  //  box-shadow: 0 0 10px 10px;
}





.float {
  float: left;
  margin-right: 15px;
}

td, th {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

form {
  padding: 10px;
  margin-top: 20px;
}

h3 {
  margin: 25px 0 5px 0;
}

body {
  width: 100%;
  min-height: 800px;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  //background-image: url('/assets/clock_wallpaper.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}

/****** GLOBAL STYLES *******/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.shadow {
   -moz-box-shadow:   inset  0 0 60px 40px #7A7A7A;
   -webkit-box-shadow:  inset 0 0 60px 40px #7A7A7A;
   box-shadow:        inset  0 0 60px 40px #7A7A7A;

}

.flash-message {
  background: #54FF9F;//seagreen 1
}

// clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

