// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//  #AEF0EE lightcyan
// #BDBCB4, #B6B5A3, #C7C6BB grey 
// #DEE1DC light grey
// #E3BAA9 flesh
// #FBE9DC light flesh

#today,
#todo,
#done {
  margin-bottom: 2%;
  padding: 2%;
  -moz-box-shadow:  0 3px 15px 3px #838B8B;
   -webkit-box-shadow:  0 3px 15px 3px #838B8B;
   box-shadow: 0 3px 15px 3px #838B8B;
}
#today {
  background-image: url("/assets/white_pattern.jpeg");
}
#todo {
  background-image: url("/assets/circuit-board-grey.png");
}
#done {
  background-image: url("/assets/grey-striped-background.png");
}


.login {
  margin: 0 auto;
  form {
    input {
      padding: 5px;
      border: none;
      border-radius: 3px;
    }
  }
}

.field {
  margin: 5px 0 10px; 
}

#flash-message {
  color: green;
}

h4#status {
  color: #1BBFE0;
  line-height: 2;
  font-weight: normal;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.80);
  -moz-box-shadow:  0 2px 20px 3px #838B8B;
  -webkit-box-shadow:  0 2px 20px 3px #838B8B;
  box-shadow: 0 2px 20px 3px #838B8B;
}



body {
  width: 100%;
  min-height: 800px;
  margin: 0;
  font-family: 'Helvetica','Oxygen', sans-serif;
  background-image: url("/assets/light_gray_bricks.gif");
  background-attachment: fixed;
  a {
    text-decoration: none;
  }
}

/****** LEFT SIDEBAR *******/
#left-sidebar {
  position: fixed;
  float: left;
  width: 14%;
  min-height: 900px;
  padding: 0 1%;
  color: #6AF218;
  // position:relative;
  // overflow:hidden;
  // left:82%;
  //background-color: rgba(255, 255, 255, 0.60);
  /* RGBa with 0.8 opacity */
  //background-color: rgba(255, 255, 255, 0.80);

}

h1 {
  display: inline;
  color: #6AF218;
  vertical-align: middle;
  font-family: 'Oxygen', sans-serif;
  //font-weight: bold;
  text-shadow: 2px 1px #fff, 3px 3px 5px #838B8B; 
}

.nav {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px; 
  text-align: center;
  background-color: rgb(220, 220, 220);
  -moz-box-shadow:  0 1px 3px 1px #838B8B;
  -webkit-box-shadow:  0 1px 3px 1px #838B8B;
  box-shadow: 0 1px 3px 1px #838B8B;
  
}


.nav_link {
  text-decoration: none;
  color: #004DF7;
}



#icon {
  display: inline;
  width: 30px;
  vertical-align: middle;
}

.icon {
  text-align: center;
  background-color: rgb(220, 220, 220);
  -moz-box-shadow:  0 1px 3px 1px #838B8B;
   -webkit-box-shadow:  0 1px 3px 1px #838B8B;
   box-shadow: 0 1px 3px 1px #838B8B;
   margin-bottom: 15px;
}

#stripes {
  min-width: 12%;
  min-height: 250px;//31%;
  //overflow: auto;
  background-image: url("/assets/stripy.jpg");
  -moz-box-shadow:  0 -1px 4px 1px #838B8B;
  -webkit-box-shadow:  0 -1px 4px 1px #838B8B;
  box-shadow: 0 -1px 4px 1px #838B8B;
}


/****** CONTAINER *******/

main {
  float: left;
  width: 56%;
  padding: 0 1%;
  margin: 0 0 0 14%;
  // position:relative;
  // overflow:hidden;
  // left:86%;
}

#container {
  float: left;
  width: 88%;
  padding: 0 1%;
  
  // -moz-box-shadow:  0 0 10px 10px;
  //  -webkit-box-shadow:  0 0 10px 10px;
  //  box-shadow: 0 0 10px 10px;
}

#form {
  padding: 0 1%;
  margin-bottom: 1%;
  min-height: 100px;
  background-image: url("/assets/light-aluminum.png");
  -moz-box-shadow:  0 2px 20px 3px #838B8B;
   -webkit-box-shadow:  0 2px 20px 3px #838B8B;
   box-shadow: 0 2px 20px 3px #838B8B;
  form {
    input {
      padding: 5px;
      border: none;
      border-radius: 3px;
    }
  }
}

#progress_bar {
  float: left;
  width: 8%;
  padding: 3% 0;
}

#bar {
  list-style: none;
  margin: 0; 
  padding: 0;
}

.work {
  background: #004DF7;
  display: block;
  width: 15px;
  
}

.break {
  background: yellow;
  display: block;
  width: 15px;
  
}


/****** RIGHT SIDEBAR *******/

#sidebar-wrapper {
  float: left;
  width: 26%;
  padding: 1%;
  height: 100%;
  // position:relative;
  // //overflow:hidden;
  // left:90%;
  //height: 100%;
  //padding: 10px;
  //border-left: 2px dotted #B4CDCD;
  
}

// #default-image {
//   display: block;
//   margin: 0 5%;
//   float: left;
//   width: 30%;
//   // -moz-box-shadow:  0 0 10px 10px;
//   //  -webkit-box-shadow:  0 0 10px 10px;
//   //  box-shadow: 0 0 10px 10px;
// }



.float {
  float: left;
  margin-right: 15px;
}

td, th {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

form {
  padding: 10px;
  margin-top: 20px;
}

h3 {
  margin: 25px 0 5px 0;
}



/******CANVAS *******/



/****** GLOBAL STYLES *******/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.shadow {
   -moz-box-shadow:   inset  0 0 60px 40px #7A7A7A;
   -webkit-box-shadow:  inset 0 0 60px 40px #7A7A7A;
   box-shadow:        inset  0 0 60px 40px #7A7A7A;

}

.flash-message {
  background: #54FF9F;//seagreen 1
}

// clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/****** WRAPPER *******/

/*#wrapper1 {
  float:left;
  width: 100%;
  min-height: 700px;
  background-image: url("/assets/light_gray_bricks.gif");
  background-attachment: fixed;
  //background: #004DF7;
  position:relative;
  right:50%;
}*/

/*#wrapper2 {
    float:left;
    width:100%;
    min-height: 700px;
    //background-image: url("/assets/light-aluminum.png");
    position:relative;
    right:30%;
}*/

/*#wrapper3 {
    float:left;
    width:100%;
    min-height: 700px;
    background-image: url("/assets/light_gray_bricks.gif");
    background-attachment: fixed;
    overflow:hidden;
    position:relative; 
}*/